@page
@using ImportExcel.Controllers
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory
@model ImportController

@{
    ViewData["Title"] = "FeriasPage";
}
<div>
    <h1 class="display-4">Bem Vindo</h1>
    <p>Importando uma Tabela Excel para um banco de dados!</p>
    <p>Fique a vontade sempre que quiser fazer uma atualização!</p>
    <address>
        <strong> Mais Informações:</strong> <a href="https://github.com/AGabs19">Meu GitHub</a>
    </address>
 </div>

 <br /> 