@page
@using ImportExcel.Controllers
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory
@model ImportController

@{
    ViewData["Title"] = "FeriasPage";
}
< div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Importando uma Tabela Excel para um banco de dados!</p>
    <p>Fique a vontade sempre que quiser fazer uma atualização!</p>
 </div>

 <br /> 
<table>
    <thread>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th>Numero</th>
            <th>Descricao</th>
            <th>Longadouro</th>
            <th>NumeroCasa</th>
            <th>CEP</th>
            <th>Complemento</th>
            <th>Cargo</th>
        </tr>
    </thread>
    <tbody>
           
        </tbody>
</table>

 